{% extends 'base.html' %}
{% block main %}
<h1>GOALS</h1>
<div class='goals'>
{% for goal in goals%}

        <h3>{{goal.name}}</h3>
        <p>Motivation: {{goal.reason}}</p>
        <p>Motivation: {{goal.motivation}}</p>
        <ul>
            <li>Start Date: {{goal.start_date}}</li>
            <li>Target End Date: {{goal.end_date}}</li>
            <li>Start Weight: {{goal.start_weight}}</li>
            <li>Target Weight: {{goal.end_weight}}</li>
        </ul>
        <p>Exercise: {{goal.exercise}}</p><br>
        <p>Completed? {{goal.completed}}</p>

{% endfor %}
</div>
{% endblock %}